<html>

<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
<h1>{{  message }} - {{ error_status }}</h1>
<hr>
<code>
{{ error.stack }}
</code>
</body>

</html>